.sv-container {
    
    width: 900px;
    height: 800px;
    background-image:url(../img/road.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    margin: 10px auto;
}



/*
#position-a{
    width: 800px;
    height: 800px;
    
    background-image:url(../img/road.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    
}
*/

#car {
    height: 64px;
    width: 130px;
    transform: rotate(180deg);
    position: absolute;
    top: 95px; /*47*/
    left: 600px; /*300*/
    animation-name: trip;
    animation-duration: 8s;
    animation-iteration-count:infinite;
    
    animation-timing-function: ease;

}


@keyframes trip{
    25% { 
        transform: rotate(180deg);
        left: 120px; /*-180*/
        
    }
    
    
    35% {  /*поворот слева на право вниз*/
        transform: rotate(135deg);
        left: 120px; /*300*/
        top: 95px;  /*47*/
        
        
    } 

     
    37% {  /*поворот слева на право вниз*/
        transform: rotate(100deg);
        left: 45px; /*-340*/
        top: 97px; /*50*/

    }

      
    43% {   /*поворот слева на право вниз и спуск вниз нижний левый угол*/
        transform: rotate(90deg);
        left: 45px;
        top: 677px; /*630*/
    }

    
    
    45% {  /*поворот сверху вниз и вправо */
        transform: rotate(45deg);
        left: 45px;
        top: 697px;

    }

    
    
    57% {  /*поворот сверху вниз и вправо */
        transform: rotate(0deg);
        left: 70px;
        top: 775px;

    }

    
    70% { /*проезд из ниженего левого угла в правый нижний угол */
        transform: rotate(0deg);
        left: 550px;
        top: 775px;
    }
    
    
    75% {  /*поворот с правого нижнего угла на верх*/
        transform: rotate(-55deg);
        left: 700px;
        top: 775px;
    }

    
    80% {  /*поворот с правого нижнего угла на верх*/
        transform: rotate(-90deg);
        left: 730px;
        top: 720px;
    }

    
        
    95% {  /*проезд с правого нижнего угла в правый верхний угол*/
        transform: rotate(-90deg);
        left: 730px;
        top: 200px;
    }

       
    97% { /*поворот с правого верхнего угла влево*/
        transform: rotate(-120deg);
        left: 700px;
        top: 130px;
    }

    
    100% { /*возврат на старт*/
        transform: rotate(-180deg);
        left: 600px;
        top: 95px;
    }



    
}    

