.sv-container {
    
    width: 900px;
    height: 800px;
    background-image:url(../img/road.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    margin: 10px auto;
}



/*
#position-a{
    width: 800px;
    height: 800px;
    
    background-image:url(../img/road.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    
}
*/

#car {
    height: 64px;
    width: 130px;
    transform: rotate(180deg);
    position: relative;
    top: 47px;
    left: 300px;
    animation-name: trip;
    animation-duration: 8s;
    animation-iteration-count:infinite;
    
    animation-timing-function: ease;

}


@keyframes trip{
    25% { 
        transform: rotate(180deg);
        left: -180px;
        
    }
    
    
    35% {  /*поворот слева на право вниз*/
        transform: rotate(135deg);
        top: 47px;  
        left: -300px;
        
        
    } 

        
    37% {  /*поворот слева на право вниз*/
        transform: rotate(100deg);
        left: -340px;
        top: 50px;

    }

        
    43% {   /*поворот слева на право вниз и спуск вниз нижний левый угол*/
        transform: rotate(90deg);
        left: -340px;
        top: 630px;
    }


    
    45% {  /*поворот сверху вниз и вправо */
        transform: rotate(45deg);
        left: -340px;
        top: 650px;

    }

    

    57% {  /*поворот сверху вниз и вправо */
        transform: rotate(0deg);
        left: -310px;
        top: 730px;

    }

    
    70% { /*проезд из ниженего левого угла в правый нижний угол */
        transform: rotate(0deg);
        left: 100px;
        top: 730px;
    }
    

    75% {  /*поворот с правого нижнего угла на верх*/
        transform: rotate(-55deg);
        left: 300px;
        top: 730px;
    }

    
    80% {  /*поворот с правого нижнего угла на верх*/
        transform: rotate(-90deg);
        left: 340px;
        top: 720px;
    }


        
    95% {  /*проезд с правого нижнего угла в правый верхний угол*/
        transform: rotate(-90deg);
        left: 340px;
        top: 200px;
    }

        
    97% { /*поворот с правого верхнего угла влево*/
        transform: rotate(-120deg);
        left: 340px;
        top: 180px;
    }

    
    100% { /*возврат на старт*/
        transform: rotate(-180deg);
        left: 300px;
        top: 47px;
    }



    
}    

